
*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  color: #f2f2f2;
  
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}
nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: #222222;
}
nav ul .search-icon .icon:hover{
  background: #171717;
  color: #f2f2f2;
  transition: 0.3s
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 8px;
}
nav ul li.btn{
  font-size: 29px;

  padding: 0 40px;
  display: none;
  color:#ffffff;
  float: right;
}
nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before{
  content: '\f00d';
}
.items{
  color: #f2f2f2;
}
@media (max-width: 768px) {
  nav ul div.items {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #222222;
  }

  nav ul div.items a {
    padding: 15px;
    text-align: center;
    width: 100%;
    color: #f2f2f2;
  }

  nav ul.open div.items {
    display: flex; /* Show the items when the nav is open */
  }

  nav ul li.logo,
  nav ul li.btn {
    display: block; /* Show the logo and toggle button on smaller screens */
  }

  nav ul .search-icon {
    display: flex;
    flex: 1;
  }

  nav ul .search-icon input {
    width: 100%; /* Expand the search input to fill the space */
  }
}